.order-table{
    border-collapse:collapse;
    position: absolute;
    height: 150px;
    margin-left: 240px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}

.order-table-header{
    text-align:center;
    width: 250px;
    background:none repeat scroll 0 0 #E5E5E5;
    border-bottom:1px solid #BBBBBB;
    padding:16px;
}

.order-table-odd-row{
    text-align:center;
    background:none repeat scroll 0 0 #FFFFFFF;
    border-top:1px solid #BBBBBB;
}

.order-table-even-row{
    text-align:center;
    background:none repeat scroll 0 0 #F9F9F9;
    border-top:1px solid #BBBBBB;
}
.button .apply{

    margin-top: 6px;
    margin-left: 20px;
    width: 165px;
    color: black;
    border: 2px solid #555555;
    background: white;

}
.input{
    margin-left: 20px;

}
.label{
    font-weight: 900;
    margin-top: 20px;
    margin-left: 14px;
    font-size: 16px;
}
.printButton{
    margin-left: 1000px;
    margin-top: 200px;
}
.Head{
    margin-left: 400px;
    font-weight: bolder;
    color: black;
}